.category-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #e0aaff;
    text-align: center;
}

.category-links img {
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px; /* Add spacing between the image and text */
}
