body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #e0aaff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #16213e;
    color: #e0aaff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-right: 20px;
}

.header .header-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    /* Add right margin */
    padding: 5px;
    /* Add padding */
}

.content {
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
}


a {
    color: inherit;
    /* ensures that the links do not change color */
    text-decoration: none;
    /* removes underline from links */
}

.category-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.category-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
    text-decoration: none;
    color: #e0aaff;
    /* Purple color from your theme */
    text-align: center;
    flex: 1 0 120px;
    /* Flex grow, flex shrink, flex basis */
}

.category-links a:hover {
    text-decoration: underline;
    color: #ffffff;
    /* Change text color on hover */
}

.category-links img {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 5px;
    /* Add some space between the image and text */
}

.category-links a span {
    margin-top: 5px;
    /* Add space between the image and text */
}