    body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #e0aaff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #16213e;
    color: #e0aaff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-right: 20px;
}

.header .header-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    /* Add right margin */
    padding: 5px;
    /* Add padding */
}

.content {
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

.footer {
    background-color: #16213e;
    color: #e0aaff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Align items horizontally */
}

.footer a {
    color: #e0aaff;
    text-decoration: none;
    padding: 0 15px;
    margin: 0;
    /* Remove default margin */
}

.footer a:hover {
    text-decoration: underline;
}

a {
    color: inherit;
    /* ensures that the links do not change color */
    text-decoration: none;
    /* removes underline from links */
}

.category-links {
    text-align: center;
    margin-top: 20px;
}

.category-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #e0aaff;
    /* Purple color from your theme */
    text-align: center;
}

.category-links a:hover {
    text-decoration: underline;
}

/* Style for the mods button */
.mod-button {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
}

/* Style for the mod info */
.mod-info {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the mod author */
.mod-author {
    font-weight: bold;
    color: #f90;
}

/* Style for the mod version */
.mod-version {
    font-style: italic;
}