.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .content img {
        max-width: 400px;
    }
}

@media (min-width: 900px) {
    .content img {
        max-width: 600px;
    }
}

.torrent-icon {
    max-width: 200px;
    /* Set the maximum width to 200px */
    max-height: 300px;
    /* Set the maximum height to 300px */
    margin-right: 20px;
    /* Add spacing between icon and details */
    border-radius: 5px;
    /* Optional: Add border radius for the icon */
    overflow: hidden;
    /* Hide any content that exceeds the max dimensions */
}