/* Torrents.css */

.search-bar {
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center items vertically */
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    background-color: #2a2a3e;
    border-radius: 5px;
}

.search-bar input[type="text"] {
    flex: 1;
    /* Grow to take remaining space */
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #1a1a2e;
    color: #e0aaff;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #16213e;
    color: #e0aaff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1a1a2e;
}

.torrent {
    border: 1px solid #e0aaff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2a2a3e;
}

.torrent h4 {
    color: #e0aaff;
    margin-top: 0;
}

.torrent p {
    color: #cccccc;
    margin: 5px 0;
}

.torrent .download-section {
    margin-top: 10px;
}

.torrent .download-section .button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #16213e;
    color: #e0aaff;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}

.torrent .download-section .button:hover {
    background-color: #1a1a2e;
}

.torrent .source-section {
    margin-top: 10px;
}

.torrent .source-section a {
    color: #e0aaff;
    text-decoration: none;
}

.torrent .source-section a:hover {
    text-decoration: underline;
}